.stock-news-card {
    margin: 5% 14.5%;
    height: 50%;
  }

.stock-news-title {
    margin-left: 15%;
}
.stock-news-subtitle{
    margin-left: 15%;
}
.mat-card-image:first-child {
    margin-top: 0px;
    margin-left: 1%;
    width: 90px;
    height: 85px;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}
.stock-news-main-div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
a {
    color: black;
    text-decoration: none;
}