.global-search-div{
    margin: 15% 30%;
    width:100%
}

.transitioned-search-div{
    display: flex;
    margin: 2% 0%;
}

.transitioned-title-header{
    font-size: 30px;
    font-family: cursive;
    font-stretch: expanded;
    padding-right: 2%; 
    padding-left: 2%;
}
.main-header{
    font-family: cursive;
    font-size: 48px;
    font-stretch: expanded;
    padding-left: 10%;
    margin-bottom: 5%;
    width: 40%;
}
.transitioned-search-form-field{
    width:60%
}
.search-full-width {
    width: 40%;
  }

.matInput {
    border-bottom: 1px grey;
}

.stock-tabs {
    margin: 0% 14.5%;
    width: 60%;
}