.global-search-div{
    margin: 15% 30%;
    width:100%
}

.transitioned-search-div{
    display: flex;
}

.transitioned-title-header{
    font-size: 30px;
    font-family: cursive;
    font-stretch: expanded;
    width: 30%;
    margin-bottom: 0%;
    padding-left: 5%;
    padding-right: 3%;
}
.main-header{
    font-family: cursive;
    font-size: 48px;
    font-stretch: expanded;
    padding-left: 5%;
    margin-bottom: 5%;
    width: 40%;
}
.example-full-width {
    width: 40%;
  }

.matInput {
    border-bottom: 1px grey;
}

.stock-tabs {
    margin: 5% 10%;
    width: 80%;
}