<div class="global-search-div" #searchDiv>
  <div class="main-header" #titleHeader>StockLearn</div>
  <mat-form-field class="search-full-width" #searchFormField>
      <input matInput placeholder="Stocks" [matAutocomplete]="auto" [formControl]="stateCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let stock of filteredStates | async" [value]="stock" 
      (enter)="getSecInfo()" (click)="searchResults()">
        <span>{{stock}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<nav mat-tab-nav-bar *ngIf='navTabDisp' class="stock-tabs">
  <a mat-tab-link 
    *ngFor="let link of navLinks; let i = index"
    [routerLink]="link.link"
    [active]="activeLinkIndex === i"
    (click)="activeLinkIndex = i">
    {{link.label}}
  </a> 
</nav>

<router-outlet></router-outlet>